# Configuración de Flask
FLASK_DEBUG=False
SECRET_KEY=cambiame-por-una-clave-secreta-larga-y-aleatoria

# Configuración de Base de Datos SQLite
DATABASE_PATH=database.db

# Puerto para el servidor (opcional)
PORT=5000
